/* Стили для list.html */
.list-title {
    font-family: 'Dancing Script', cursive; /* Использование шрифта Dancing Script */
}

/* Стили для detail.html */
.detail-title {
    font-family: 'Georgia', serif; /* Использование шрифта Merriweather */
    font-size: 25px;
}

/* Стили для заголовков в detail.html, share.html и search.html */
.detail-title, .normal-title {
font-family: 'Merriweather', serif;
font-size: 25px;
}

/* Остальные стили */
body {
    margin: 0;
    padding: 0;
    font-family: "noto serif", serif;
}

a {
    color: #0395abff;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    border-bottom: 1px solid #bbb;
    padding: 0 0 15px 0;
    font-family: 'Dancing Script', cursive; /* Использование шрифта Dancing Script */
    font-size: 45px;
}

h2 {
    font-weight: normal;
    margin: 20px 0 0;
}

/* Остальные стили */
#content {
    float: left;
    width: 60%;
    padding: 0 0 0 30px;
}

#sidebar {
    float: right;
    width: 30%;
    padding: 10px;
    background: #efefef;
    height: 100%;
}

p.date {
    color: #ccc;
    font-family: georgia, sans-serif;
    font-size: 13px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* forms */
label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input, textarea {
    font-family: georgia, sans-serif;
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 10px 20px;
    font-size: 18px;
}

input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 15px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 16px;
    color: #666;
}
