<!DOCTYPE html>
{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Search{% endblock %}

{% block content %}
    {% if query %}
        <h1 class="normal-title">Posts containing "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h3>

        <ul>
            {% for post in results %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    <p>{{ post.body|markdown|truncatewords:30 }}</p>
                </li>
            {% empty %}
                <li>Результатов не найдено.</li>
            {% endfor %}
        </ul>

        <p><a href="{% url 'blog:post_search' %}">Search again</a></p>
    {% else %}
        <h1 class="normal-title">Search articles</h1>
        <form method="get" action="{% url 'blog:post_search' %}">
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>
    {% endif %}
{% endblock %}

{% block header_style %}
<style>
    .normal-title {
        font-family: 'Merriweather', serif;
    }
</style>
{% endblock %}


